body {
    background:url(/images/rain.gif);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}

//###### 博客内容透明化 ######
// :root {
//   --content-bg-color:#ffffffe6;
// }

